In [83]:
import pandas as pd

In [84]:
df = pd.read_csv('out.csv')

In [85]:
lang_df = df[['ID','Languages']]
lang_df

               ID                                          Languages
0       284921427  DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...
1       284926400                                                 EN
2       284946595                                                 EN
3       285755462  DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...
4       285831220  DA, NL, EN, FR, DE, EL, IT, JA, KO, NO, PT, RU...
...           ...                                                ...
16822  1474626442                                                 EN
16823  1474919257                                                 EN
16824  1474962324                                                 EN
16825  1474963671                                                 EN
16826  1475076711                                             EN, ZH

[16827 rows x 2 columns]

In [93]:
lst = lang_df['Languages'].apply(lambda x: [el.strip() for el in str(x).split(',')])
new = pd.concat([df['ID'], lst],axis=1)
new.explode('Languages').to_csv('appstore_games_languages.normalized.csv')